<div class="profile-div" *ngIf="participantSelected">
  <mat-card>
    <h2>{{participantSelected.name}}</h2>
    <p *ngIf="participantSelected.pronouns !== undefined && participantSelected.pronouns !== ''">Pronouns: {{participantSelected.pronouns}}
    </p>
    <p *ngIf="participantSelected.email !== undefined && participantSelected.email !== ''">Email: {{participantSelected.email}}
    </p>
    <p *ngIf="participantSelected.telephone !== undefined && participantSelected.telephone !== ''">Phone number: {{participantSelected.telephone}}
    </p>
    <p *ngIf="participantSelected.socialmedia !== undefined">Social media: {{participantSelected.socialmedia.service}} {{participantSelected.socialmedia.username}}
    </p>
    <p *ngIf="participantSelected.address !== undefined && participantSelected.address !== ''">Address: {{participantSelected.address}}
    </p>
    <mat-card-actions>
      <button mat-raised-button (click)="newCase()">New case</button>
      <button mat-raised-button (click)="addNote()">Add Note</button>
      <button mat-raised-button (click)="addDocument()">Add document</button>
    </mat-card-actions>
  </mat-card>

  <app-casefiles [orderedCases]="orderedCases" [participant]="participantSelected" (loadParticipant)="loadParticipant()"></app-casefiles>
  <app-notes [orderedNotes]="orderedNotes" [participant]="participantSelected" (loadParticipant)="loadParticipant()"></app-notes>
  <app-documents [orderedDocuments]="orderedDocuments" [participant]="participantSelected"(loadParticipant)="loadParticipant()"></app-documents>

</div>