.history-header {
    margin-left: 24px;
}

.profile-div {
    padding: 1%;
}

.resource {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p.name {
    width: 25%;
} 

mat-form-field {
    margin-left: 1em;
}

mat-slide-toggle {
    margin-left: 5px;
}

mat-panel-title {
    max-width: 25%;
}

mat-panel-description {
    flex: 1;
}
