<mat-card *ngIf="participantSelected">
  <h2>{{participantSelected.name}}</h2>
  <mat-card-content>
    Email: <span *ngIf="participantSelected.email !== ''">{{participantSelected.email}}</span><br>
    Phone number: <span *ngIf="participantSelected.telephone !== ''" >{{participantSelected.telephone}}</span><br>
    Social media: <span *ngIf="participantSelected.socialmedia !== undefined" >{{participantSelected.socialmedia.service}} {{participantSelected.socialmedia.username}}</span><br>
    Address: <span *ngIf="participantSelected.address !== ''">{{participantSelected.address}}</span>
  </mat-card-content>
  <button mat-raised-button (click)="newCase(participantSelected.name)">New case</button>
</mat-card>
