<div>
<mat-card>
  <form class="form">
    <mat-form-field>
      <input matInput required placeholder="Name" name="name" [(ngModel)]="housing.name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" name="email" [(ngModel)]="housing.email">
    </mat-form-field>

    <mat-form-field>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone" name="telephone" [(ngModel)]="housing.phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Location" name="location" [(ngModel)]="housing.location">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Notes" name="notes" [(ngModel)]="housing.notes">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Term" name="term" [(ngModel)]="housing.term">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Gender" name="gender" [(ngModel)]="housing.gender">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Constraints" name="constraints" [(ngModel)]="housing.constraints">
    </mat-form-field>

  </form>
  <button mat-raised-button (click)="submit()">Submit</button>
</mat-card>
</div>