  <div class="sortNSearchToolbar">
  <mat-form-field>
    <mat-select placeholder="Sort by" [(value)]="sortProperty">
      <mat-option value="name">Name</mat-option>
      <mat-option value="updatedAt">Updated</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="reverse=!reverse" class="reverseBtn">{{reverse? 'Descending': 'Ascending'}}</button>
  <mat-form-field class="searchBox">
      <input matInput  placeholder="Search" [(ngModel)]="query" >
  </mat-form-field>
  </div>

  <mat-card  *ngFor="let resource of ((resources| search:'name':query) | orderBy: sortProperty: reverse)" >
    <div *ngIf="!(editingResource == resource)">
      <mat-card-header>
        <!-- <mat-icon>house</mat-icon> -->
        <mat-card-title>Name: {{resource.name}}</mat-card-title>
        <mat-card-subtitle>Term: {{resource.term}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Location: {{resource.location}}</p>
        <p>Phone: {{resource.phone}}</p>
        <p>Email: {{resource.email}}</p>
        <p>Gender: {{resource.gender}}</p>
        <p>Notes: {{resource.notes}}</p>
        <p>Constraints: {{resource.constraints}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="edit(resource._id, resource)">Edit Resource</button>
      </mat-card-actions>
    </div>

    <div *ngIf="editingResource == resource">
      <app-edit-resource [resource]="editingResource" ></app-edit-resource>
      <mat-card-actions>
          <button mat-raised-button (click)="update(resource._id, resource)">Update</button>
          <button mat-raised-button (click)="delete(resource._id)">Delete</button>
          <button mat-raised-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
    </div>
  </mat-card>
