  <div class="sortNSearchToolbar">
  <mat-form-field>
    <mat-select placeholder="Sort by" [(value)]="sortProperty">
      <mat-option value="name">Name</mat-option>
      <mat-option value="updatedAt">Updated</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="reverse=!reverse" class="reverseBtn">{{reverse? 'Descending': 'Ascending'}}</button>
  <mat-form-field class="searchBox">
      <input matInput  placeholder="Search" [(ngModel)]="query" >
  </mat-form-field>
  </div>

  <mat-card  *ngFor="let resource of ((resources| search:'name':query) | orderBy: sortProperty: reverse)" >
    <div *ngIf="!(editingResource == resource)">
      <mat-card-header>
        <mat-card-title>Name: {{resource.name}}</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="resource.location !== undefined && resource.location !== ''">Location: {{resource.location}}</p>
        <p *ngIf="resource.phone !== undefined && resource.phone !== ''">Phone: {{resource.phone}}</p>
        <p *ngIf="resource.email !== undefined && resource.email !== ''">Email: {{resource.email}}</p>
        <div [ngSwitch]="resource.kind">
          <ng-container *ngSwitchCase="'Housing'">
            <p *ngIf="resource.term !== undefined && resource.term !== ''">Term: {{resource.term}}</p>
            <p *ngIf="resource.gender !== undefined && resource.gender !== ''">Gender: {{resource.gender}}</p>
            <p *ngIf="resource.constraints !== undefined && resource.constraints[0] !== ''">Constraints: {{resource.constraints}}</p>
          </ng-container>     
          <ng-container *ngSwitchCase="'Medical'">
            <p *ngIf="resource.without_cost !== undefined && resource.without_cost !== ''">Free: {{resource.without_cost}}</p>
            <p *ngIf="resource.waitlist_time !== undefined && resource.waitlist_time !== ''">Approximate Waitlist: {{resource.waitlist_time}}</p>
            <p *ngIf="resource.schedule_availability !== undefined && resource.schedule_availability !== ''">Schedule: {{resource.schedule_availability[0]}}</p>
          </ng-container>
        </div>
        <p *ngIf="resource.notes !== undefined && resource.notes !== ''"> Notes: {{resource.notes}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="edit(resource._id, resource)">Edit</button>
      </mat-card-actions>
    </div>

    <div *ngIf="editingResource == resource">
      <app-edit-resource [resource]="editingResource" (cancel)="cancel()"></app-edit-resource>
    </div>
  </mat-card>
