.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://orig00.deviantart.net/dca3/f/2012/006/0/5/princess_luna_facebook_profile_picture_season_2_by_wisami-d4lgj08.jpg');
  background-size: cover;
  background-position: calc(50% - 0px) 20%;
}

a{
  text-decoration: none;
  color: black;
}

mat-card {
  margin-left: 1em;
}