<mat-card>
    <mat-card-title>Pending Phone Calls</mat-card-title>
    <div *ngIf="(!logs) || (logs.length === 0)">
        Everything up to date!
    </div>
    <mat-card *ngFor="let log of ((logs | search:'urgent':query) | orderBy: sortProperty: reverse)">
        <div *ngIf="editingLog != log">
            <mat-card-content>
                <div *ngIf="log.name && log.name !== '' ">
                    <b> Name: </b> {{log.name}}
                    <br>
                </div>
                <div *ngIf="log.pronouns && log.pronouns !== '' ">
                    <b> Pronoun: </b> {{log.pronouns}}
                    <br>
                </div>
                <div *ngIf="log.callertype && log.callertype !== '' ">
                    <b> Type of caller: </b> {{log.callertype}}
                    <br>
                </div>
                <div *ngIf="log.phonenumber !== '' ">
                    <b> Phone number: </b> {{log.phonenumber}}
                    <br>
                </div>
                <div *ngIf="log.subject && log.subject !== '' ">
                    <b> Subject: </b> {{log.subject}}
                    <br>
                </div>
                <div *ngIf="log.urgent && log.urgent == true ">
                    <b> Urgent: </b>Yes
                    <br>
                </div>
                <div *ngIf="log.urgent && log.urgent == false ">
                    <b> Urgent: </b> No
                    <br>
                </div>
                <div *ngIf="log.date && log.date !== '' ">
                    <b> Date of the call: </b> {{log.date| date : format : timezone}}
                    <br>
                </div>
                <div *ngIf="log.language && log.language !== '' ">
                    <b> Language: </b>{{log.language}}
                    <br>
                </div>
                <div *ngIf="log.message && log.message !== '' ">
                    <b> Message: </b> {{log.message}}
                    <br>
                </div>
                <div *ngIf="log.notes[0] && log.notes[0] !== '' ">
                    <b> Note regarding the call: </b> {{log.notes[0]}}
                    <br>
                </div>
                <div>
                    <b> Call logged by: </b> {{log.user.name}}
                    <br>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="edit(log)">Edit</button>
                <button mat-raised-button (click)="delete(log)">Delete</button>
                <button mat-raised-button (click)="resolve(log)">Resolve</button>

            </mat-card-actions>
        </div>
        <div *ngIf="editingLog == log">
            <app-edit-phonelog [log]="editingLog" (cancel)="cancel()"></app-edit-phonelog>
        </div>
    </mat-card>
</mat-card>
<mat-card>
    <mat-card-title>Completed Phone Calls</mat-card-title>
    <div *ngIf="(!history) || (history.length === 0)">
        Nothing to show
    </div>
    <mat-card *ngFor="let log of ((history | search:'urgent':query) | orderBy: sortProperty: reverse)">
        <mat-card-content>
            <div *ngIf="log.name && log.name !== ''">
                <b> Name: </b> {{log.name}}
                <br>
            </div>
            <div *ngIf="log.pronouns && log.pronouns !== '' ">
                <b> Pronoun: </b> {{log.pronouns}}
                <br>
            </div>
            <div *ngIf="log.callertype && log.callertype !== '' ">
                <b> Type of caller: </b> {{log.callertype}}
                <br>
            </div>
            <div *ngIf="log.phonenumber && log.phonenumber !== '' ">
                <b> Phone number: </b> {{log.phonenumber}}
                <br>
            </div>
            <div *ngIf="log.subject && log.subject !== '' ">
                <b> Subject: </b> {{log.subject}}
                <br>
            </div>
            <div *ngIf="log.urgent && log.urgent == true ">
                <b> Urgent: </b>Yes
                <br>
            </div>
            <div *ngIf="log.urgent && log.urgent == false ">
                <b> Urgent: </b> No
                <br>
            </div>
            <div *ngIf="log.date && log.date !== '' ">
                <b> Date of the call: </b> {{log.date| date : format : timezone}}
                <br>
            </div>
            <div *ngIf="log.language && log.language !== '' ">
                <b> Language: </b>{{log.language}}
                <br>
            </div>
            <div *ngIf="log.message && log.message !== '' ">
                <b> Message: </b> {{log.message}}
                <br>
            </div>
            <div *ngIf="log.notes[0] && log.notes[0] !=='' ">
                <b> Note regarding the call: </b> {{log.notes[0]}}
                <br>
            </div>
            <div>
                <b> Call logged by: </b> {{log.user.name}}
                <br>
            </div>
            <div>
                <b> Called back by: </b> {{log.resolvedBy.name}}
                <br>
            </div>
            <div>
                <b> Date called back: </b> {{log.dateResolved | date : format : timezone}}
                <br>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="delete(log)">Delete</button>
        </mat-card-actions>
    </mat-card>
</mat-card>