<h1 mat-dialog-title>Edit Assigned Social Workers</h1>
<mat-dialog-content>
    <!-- <mat-list> -->
      <div *ngFor="let worker of data.workers">
        <span>{{ worker.name }} ({{ worker.email }})</span>
        <span class="example-fill-remaining-space"></span>
        <button mat-raised-button (click)="close()">Remove</button>
      </div>
      <br>
      <mat-list-item>
          <mat-form-field>
              <mat-select placeholder="Add Social Worker">
                <!-- <mat-option *ngFor="let worker of " [value]="worker">
                  {{ worker.name }} ({{ worker.email }})
                </mat-option> -->
              </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="close()">Add</button>
      </mat-list-item>
    <!-- </mat-list> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">OK</button>
</mat-dialog-actions>