<h1 mat-dialog-title>New Housing Case</h1>
<h5>Participant: {{data.pid}}</h5>
<form>
  <div class="hint">Select urgency of request</div>
  <mat-radio-group [(ngModel)]="mycase.urgency" name="urgency" ng-checked="urgency[0]">
    <mat-radio-button *ngFor="let urgency of urgencies" [value]="urgency">{{urgency}}&nbsp;&nbsp;</mat-radio-button>
  </mat-radio-group>
<br>
  <mat-form-field>
    <input matInput placeholder="Enter any relevant notes here" value="" [(ngModel)]="mycase.notes" name="notes">
  </mat-form-field>

<br>
<div class="hint">Select the shelters for this case</div>
  <mat-form-field>
    <mat-select multiple [(ngModel)]="mycase.contactedResources" name="contactedResources">
        <mat-option *ngFor="let resource of resources" [value]="resource._id">
            {{resource.name}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</form>


<div mat-dialog-actions>
  <button mat-button (click)="submit()">Submit</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>