<mat-card>
  <form [formGroup]="phonelog">

    <mat-form-field>
      <input matInput placeholder="Name of entity calling" name="name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type of caller" name="callertype" formControlName="callertype">
        <mat-option *ngFor="let caller of callertype" [value]="caller">
          {{caller}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reason for call" name="subject" formControlName="subject">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Callback number" name="phonenumber" formControlName="phonenumber">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pronouns" name="pronouns" formControlName="pronouns">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter any additional notes" name="notes" formControlName="notes">
    </mat-form-field>

    <mat-slide-toggle name="urgent" formControlName="urgent" [checked]="urgent">
      Urgent
    </mat-slide-toggle>

    <button mat-raised-button type="submit" [disabled]="phonelog.invalid" (click)="submit()">Finalize this call</button>
  </form>

</mat-card>