/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    font-family: Open, Arial, sans-serif;
    margin: 0;
  }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(64, 48, 117);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(	136, 45, 96);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(167, 36, 243, 0.219);
}

/* .mat-button-ripple {
  background-color:rgba(193, 89, 253, 0.062);
}  */