<h3 class="history-header">Notes</h3>
<mat-card *ngIf="orderedNotes == null || orderedNotes.length == 0">
  No notes to display.
</mat-card>
<mat-accordion *ngIf="orderedNotes.length > 0">
  <mat-expansion-panel *ngFor="let note of orderedNotes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{note.date | date: 'fullDate'}}
      </mat-panel-title>
      <mat-panel-description>
        {{note.text | slice:0:100}}...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Note:</h4>
    {{note.text}}
    <h4>Attachments:</h4>
    <p>{{note.attachment}}</p>
    <img *ngFor="let img of note.thumbnails" src="data:image/jpeg;base64,{{img.data}}" alt="thumbnail"  height="800" width="600">
    <button id="downloadNoteBtn" mat-raised-button (click)="downloadAttachment(note.attachment, note._id)">Download Attachment</button>
    <button id="deleteNoteBtn" mat-raised-button (click)="deleteNote(note._id)">Delete Note</button>
  </mat-expansion-panel>
</mat-accordion>
