<h1 mat-dialog-title>Create a Note</h1>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Your note" name="text" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
        [(ngModel)]="note.text"></textarea>
    </mat-form-field>
    <div class="fileupload">
      <h4>Upload File</h4>
      <input type="file" #upload (change)="handleFileInput(upload.files)">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
