<h1 mat-dialog-title>New Case</h1>
<h5>Participant: {{data.participant.name}}</h5>
<form>
  <mat-form-field>
    <mat-select placeholder="Case Type" name="caseType" [(ngModel)]="mycase.type">
      <mat-option *ngFor="let type of resourceTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="hint">Select urgency of request</p>
  <mat-radio-group [(ngModel)]="mycase.urgency" name="urgency" ng-checked="urgency[0]">
    <mat-radio-button *ngFor="let urgency of urgencies" [value]="urgency">{{urgency}}&nbsp;&nbsp;</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <input matInput placeholder="Enter any relevant notes here" value="" [(ngModel)]="mycase.notes" name="notes">
  </mat-form-field>
<div class="hint">Select the resources for this case</div>
  <mat-form-field>
    <mat-select multiple [(ngModel)]="mycase.contactedResources" name="contactedResources">
        <mat-option *ngFor="let resource of resources" [value]="resource._id">
            {{resource.name}}
          </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions>
      <button mat-button (click)="submit()">Submit</button>
      <button mat-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</form>