<div fxLayout="row">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="100" *ngIf="!register">
    <mat-card class="loginCard" fxFlex="50" >
      <mat-card-title>
        Login
      </mat-card-title>
      <form id="loginForm" name="loginForm" (ngSubmit)="login()" *ngIf="!loading">
        <mat-card-content>

          <div class="form-group">
            <mat-form-field fxFlex="100">
              <label for="email">Email</label>
              <input name="email" matInput type="email" class="form-control" id="email" [(ngModel)]="user.email" #email="ngModel" required>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field fxFlex="100">
              <label for="password">Password</label>
              <input matInput name="password" type="password" class="form-control" id="password" [(ngModel)]="user.password" #password="ngModel"
                required>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </form>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div *ngIf="error">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <mat-icon>error</mat-icon>
          <h4>{{msg}}</h4>
      </div>
    </mat-card>
    <div fxFlex="100" fxLayoutAlign="space-around start">
      <a href="javascript:;" (click)="register=true">Don't have an account? Sign up here.</a>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="100" *ngIf="register">
    <mat-card fxFlex="50" *ngIf="register">
        <mat-card-title>
          Sign Up
        </mat-card-title>
        <form id="registrationForm" name="registrationForm" (ngSubmit)="signUp()" *ngIf="!loading">
          <mat-card-content>

            <div class="form-group">
              <mat-form-field fxFlex="100">
                <label for="rEmail">Email</label>
                <input name="rEmail" matInput type="email" class="form-control" id="rEmail" [(ngModel)]="user.rEmail" #rEmail="ngModel" required>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field fxFlex="100">
                <label for="rPassword">Password</label>
                <input matInput name="rPassword" type="password" class="form-control" id="rPassword" [(ngModel)]="user.rPassword" #rPassword="ngModel"
                       required>
              </mat-form-field>
            </div>

            <div class="form-group" fxLayout="row wrap">
              <mat-form-field fxFlex="100">
                <label for="rConfirmPassword">Confirm Password</label>
                <input matInput name="rConfirmPassword" type="password" class="form-control" id="rConfirmPassword" [(ngModel)]="user.rConfirmPassword" #rConfirmPassword="ngModel"
                       required>
              </mat-form-field>
              <div fxFlex="100" style="color:red;" *ngIf="user.rPassword !== user.rConfirmPassword && user.rConfirmPassword">Passwords do not match</div>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button [disabled] = "user.rPassword !== user.rConfirmPassword" color="primary" type="submit">Submit</button>
          </mat-card-actions>
        </form>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div *ngIf="error">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <mat-icon>error</mat-icon>
          <h4>{{msg}}</h4>
        </div>
      </mat-card>
    <div fxFlex="100" fxLayoutAlign="space-around left">
      <a href="javascript:;" (click)="register=false">Already have an account? Login here.</a>
    </div>
  </div>

</div>
