<h1 mat-dialog-title>Add a Document</h1>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Document Type" name="text" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
        [(ngModel)]="document.type"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <button mat-raised-button (click)="cancel()">Close</button>
</mat-dialog-actions>