<form class="form">
    <mat-form-field>
      <input matInput required placeholder="Name" name="name" [(ngModel)]="log.name">
    </mat-form-field>

     <mat-form-field>
        <input matInput placeholder="Pronouns" name="pronouns" [(ngModel)]="log.pronouns">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phonenumber" name="phonenumber" [(ngModel)]="log.phonenumber">
    </mat-form-field>

    <mat-form-field>
        <input type="tel" matInput placeholder="Subject" name="subject" [(ngModel)]="log.subject">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Notes" name="notes" [(ngModel)]="log.notes">
        <mat-hint align="start">
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Message" name="message" [(ngModel)]="log.message">
        <mat-hint align="start">
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="log.date" [ngModelOptions]="{standalone: true}">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


     <mat-hint align="start">
            Urgent
        </mat-hint><br><br>
     <mat-radio-group [(ngModel)]="log.urgent" name="urgent">
         <mat-radio-button  [value]="true">True </mat-radio-button>
         <mat-radio-button  [value]="false">False </mat-radio-button>
    </mat-radio-group><br>
        <br>


    <mat-select placeholder="Type of caller" name="callertype" [(ngModel)]="log.callertype">
          <mat-option *ngFor="let caller of callertype" [value]="caller">
            {{ caller}}
          </mat-option>
        </mat-select>

  </form>