<mat-toolbar color="primary">
  <span *ngIf="this.authenticationService.loggedIn">
    <a class="nav-link" routerLink="dashboard">
      <button mat-button class="nav-logo">SocialWorker</button>
    </a>
    <a class="nav-link" routerLink="participants">
      <button mat-button>Participants</button>
    </a>
    <a class="nav-link" routerLink="resources">
      <button mat-button>Resources</button>
    </a>
    <a class="nav-link" routerLink="dashboard/phonelog">
      <button mat-button>Phonelog</button>
    </a>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="this.authenticationService.loggedIn">
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>

<ng-chat *ngIf="userId" [adapter]="adapter" [userId]="userId" [title]="Users" [isCollapsed]="false"></ng-chat>

<router-outlet *ngIf="heartbeat"></router-outlet>