<mat-toolbar color="primary">
  SocialWorker
  <span *ngIf="this.authenticationService.loggedIn">
    <a class="nav-link" routerLink="participants">
      <button mat-button>Participants</button>
    </a>
    <a class="nav-link" routerLink="resources">
      <button mat-button>Resources</button>
    </a>
    <a class="nav-link" routerLink="phonelog">
      <button mat-button>Phonelog</button>
    </a>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="this.authenticationService.loggedIn">
    <a class="nav-link" routerLink="register">
      <button mat-button *ngIf="this.authenticationService.role && this.authenticationService.role == 'admin'">Register User</button>
    </a>
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
<router-outlet *ngIf="heartbeat"></router-outlet>