<mat-card>
  <mat-card-title>Trash Bin</mat-card-title>
  <div class="container">
    <div class="items" *ngFor="let item of (items | orderBy: 'updatedAt')">
      <div *ngIf="item.model == 'Participant'">
        <p><b>{{item.model}}:</b></p>
        <p>{{item._id}}</p>
        <p *ngIf="item.name">{{item.name}}</p>
      </div>
      <div *ngIf="item.model == 'Resource'">
        <p><b>{{item.model}}:</b></p>
        <p>{{item.name}}</p>
        <p *ngIf="item.email">{{item.email}}</p>
      </div>
      <div *ngIf="item.model == 'Casefile'">
        <p><b>{{item.model}}:</b></p>
        <p>{{item.type}}</p>
        <p *ngIf="item.status">{{item.status}}</p>
        <p *ngIf="item.participant">{{item.participant}}</p>
        <p *ngIf="item.date">{{item.date | date}}</p>
      </div>
      <button mat-icon-button color="primary" (click)="restore(item.model, item._id)">
        <mat-icon matSuffix>unarchive</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="delete(item.model, item._id)">
        <mat-icon matSuffix>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</mat-card>